@model  Models.mRequestChat

<div class="chat-circle-container animate-bounce">
    <div class="chat-circle">
        <svg focusable="false" aria-hidden="true" viewBox="0 0 28 32" class="chatbox-icon-open">
            <path d="M28,32 C28,32 23.2863266,30.1450667 19.4727818,28.6592 L3.43749107,28.6592 C1.53921989,28.6592 0,27.0272 0,25.0144 L0,3.6448 C0,1.632 1.53921989,0 3.43749107,0 L24.5615088,0 C26.45978,0 27.9989999,1.632 27.9989999,3.6448 L27.9989999,22.0490667 L28,22.0490667 L28,32 Z M23.8614088,20.0181333 C23.5309223,19.6105242 22.9540812,19.5633836 22.5692242,19.9125333 C22.5392199,19.9392 19.5537934,22.5941333 13.9989999,22.5941333 C8.51321617,22.5941333 5.48178311,19.9584 5.4277754,19.9104 C5.04295119,19.5629428 4.46760991,19.6105095 4.13759108,20.0170667 C3.97913051,20.2124916 3.9004494,20.4673395 3.91904357,20.7249415 C3.93763774,20.9825435 4.05196575,21.2215447 4.23660523,21.3888 C4.37862552,21.5168 7.77411059,24.5386667 13.9989999,24.5386667 C20.2248893,24.5386667 23.6203743,21.5168 23.7623946,21.3888 C23.9467342,21.2215726 24.0608642,20.9827905 24.0794539,20.7254507 C24.0980436,20.4681109 24.0195551,20.2135019 23.8614088,20.0181333 Z"></path>
        </svg>

        <svg focusable="false" aria-hidden="true" class="chatbox-icon-close chatbox-icon-hide">
            <path d="M13.978 12.637l-1.341 1.341L6.989 8.33l-5.648 5.648L0 12.637l5.648-5.648L0 1.341 1.341 0l5.648 5.648L12.637 0l1.341 1.341L8.33 6.989l5.648 5.648z" fill-rule="evenodd"></path>
        </svg>
    </div>
</div>

<div class="chatbox">
    <div class="chatbox-header">
        <svg focusable="false" aria-hidden="true" viewBox="0 0 28 32">
            <path d="M28,32 C28,32 23.2863266,30.1450667 19.4727818,28.6592 L3.43749107,28.6592 C1.53921989,28.6592 0,27.0272 0,25.0144 L0,3.6448 C0,1.632 1.53921989,0 3.43749107,0 L24.5615088,0 C26.45978,0 27.9989999,1.632 27.9989999,3.6448 L27.9989999,22.0490667 L28,22.0490667 L28,32 Z M23.8614088,20.0181333 C23.5309223,19.6105242 22.9540812,19.5633836 22.5692242,19.9125333 C22.5392199,19.9392 19.5537934,22.5941333 13.9989999,22.5941333 C8.51321617,22.5941333 5.48178311,19.9584 5.4277754,19.9104 C5.04295119,19.5629428 4.46760991,19.6105095 4.13759108,20.0170667 C3.97913051,20.2124916 3.9004494,20.4673395 3.91904357,20.7249415 C3.93763774,20.9825435 4.05196575,21.2215447 4.23660523,21.3888 C4.37862552,21.5168 7.77411059,24.5386667 13.9989999,24.5386667 C20.2248893,24.5386667 23.6203743,21.5168 23.7623946,21.3888 C23.9467342,21.2215726 24.0608642,20.9827905 24.0794539,20.7254507 C24.0980436,20.4681109 24.0195551,20.2135019 23.8614088,20.0181333 Z"></path>
        </svg>
        <h3>Chatbot</h3>
        <a class="chatbox-toggle" style="display: none;"><i class="icon-cross"></i></a>
    </div>

    <div class="chatbox-body">
        <div class="chatbox-overlay">
            <p>Hola, <strong>@Html.DisplayFor(x => x.User.Name)</strong>, soy Nombre Asistente y estoy aquí para ayudarte a encontrar lo que necesites.</p>
            <p>Comencemos eligiendo una funcionalidad:</p>
            <ul class="chatbox-options">
                @foreach (Models.mCategoty item in ViewBag.Categories)
                {
                    <li data-value="@item.CategoryID">@item.Name</li>
                }
            </ul>
        </div>

        <div class="chat-logs">
            <div id="cm-msg-0" class="chat-msg bot" style="display: block;">
                <div class="cm-msg-text">Dime en qué puedo ayudarte<span class="chat-topic"> con respecto a <strong class="chat-topic-selected"></strong></span>.</div>
            </div>
        </div>

        <div class="chat-input">
            @using (Ajax.BeginForm("GetResponse", "ChatController", new AjaxOptions { HttpMethod = "POST", OnBegin = "BeginSendRequest", OnSuccess = "ResponseMessageBot" }, new { @class = "chat-input-form", @name = "chat-input", @id = "chat-input-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.User.UserID)
                @Html.HiddenFor(x => x.FunctionalityID)
                @Html.TextBoxFor(x => x.Request, new { @id = "chat-input", @placeholder = "Escribe aquí tu mensaje...", @autocomplete = "off" })
                <button type="submit" class="chat-submit" id="chat-submit"><i class="icon-arrow-thin-right"></i></button>
            }
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    // CHATBOT

    var msg_id = 0;

    function BeginSendRequest() {
        var msg = $('#chat-input').val();
        if (msg.trim() == '' || $('#chat-input-form #FunctionalityID').val() == 0)
            return false;
        else {
            RequestMessgeUser(msg);
            return true;
        }
    }

    function RequestMessgeUser(msg) {
        msg_id++;
        var str = "";
        str += "<div id='cm-msg-" + msg_id + "' class=\"chat-msg user\">";
        str += "          <div class=\"cm-msg-text\">";
        str += msg;
        str += "          <\/div>";
        str += "        <\/div>";
        $('.chat-logs').append(str);
        $('#cm-msg-' + msg_id).hide().fadeIn(300);
        $('#chat-input').val('');
        $('.chat-logs').stop().animate({ scrollTop: $('.chat-logs')[0].scrollHeight }, 1000);
        //$('#FunctionalityID').val(0);
    };

    function ResponseMessageBot(rsp) {
        msg_id++;
        //var str = "";
        //str += "<div id='cm-msg-" + msg_id + "' class='chat-msg bot' style='display: block;'>";
        //str += "	<div class='cm-msg-text'>";
        //str += rsp.responseChat.MessageResponse;
        //if (rsp.responseChat.TypeResponse) {
        //    str += "		<ul class='chatbox-options'>";
        //    str += "			<li>" + rsp.responseChat.Functionality.Name + "</li>";
        //    str += "		</ul>";
        //}
        //str += "	</div>";
        //str += "</div>";
        //if (rsp.responseChat.TypeResponse) {
        //    str += "<div class='chat-rate'>";
        //    str += "	Te resultó útil esta respuesta?";
        //    str += "	<i class='icon-thumbs-up'></i>";
        //    str += "	<i class='icon-thumbs-down'></i>";
        //    str += "</div>";
        //}
        $('.chat-logs').append(rsp);
        //$('#cm-msg-' + msg_id + ',#cm-msg-' + msg_id + ' + .chat-rate').hide().fadeIn(300);
        $('.chat-logs').stop().animate({ scrollTop: $('.chat-logs')[0].scrollHeight }, 1000);
    };

    function ResponseEffectivenessMeasurement(rsp) {
        if (rsp) {
            if (rsp.isSatisfactorio) {
            } else {
            }
        }
    }
    $('.chat-circle').click(function () {
        $('.chat-circle svg').toggleClass('chatbox-icon-hide');
        $('.chatbox').toggleClass('show-chatbot hide-chatbot');
        $('.chat-circle-container').toggleClass('animate-bounce')
    });

    $('.chatbox-toggle').click(function () {
        $('.chat-circle svg').toggleClass('chatbox-icon-hide');
        $('.chatbox').toggleClass('hide-chatbot show-chatbot');
    });

    $('body').on('click', '.chatbox-overlay .chatbox-options li', function () {
        $('.chatbox-overlay, .chat-logs, .chat-input').slideToggle(500);
        var topic = $(this).html();
        $('#FunctionalityID').val($(this).data('value'));
        $('.chat-topic').show().find('.chat-topic-selected').html(topic);
    });

    $('body').on('click', '.cm-msg-text .chatbox-options li', function () {
        $('#FunctionalityID').val($(this).data('value'));
        var str = "";
        str += "    <div id='cm-msg' class='chat-msg bot' style='display: block;'>";
        str += "        <div class='cm-msg-text'>";
        str += "            Dime en qué puedo ayudarte con respecto a <strong class='chat-topic-selected'>" + $(this).html() + "</strong>.";
        str += "        </div>";
        str += "    </div>";
        $('.chat-logs').append(str);
        $('.chat-logs').stop().animate({ scrollTop: $('.chat-logs')[0].scrollHeight }, 1000);
    });


    $('body').on('click', '.chat-rate .i-chat-rate', function () {
        $(this).addClass('selected').siblings().removeClass('selected');
    });
</script>
