@model  Models.mResponseChat


@if (Model.TypeResponse)
{
    <div id="cm-msg-bot-msgBot" class="chat-msg bot a msgBot" style="display: block;">
        <div class="cm-msg-text">
            @Model.MessageResponse
            <ul class="chatbox-options">
                @foreach (var item in Model.Functionality)
                {
                    <a style="text-decoration:none" target="_blank" href="@item.URL"> @item.Description</a>
                }
            </ul>
        </div>
    </div>
    <div class='chat-rate'>
        Te resultó útil esta respuesta?
        @Ajax.ActionLink(" ", "SetEffectivenessMeasurement",
         new { pUserID = ViewData["UserID"], pFunctionalityID = Model.Functionality.FirstOrDefault().FunctionalityID, pLike = true },
         new AjaxOptions { HttpMethod = "POST", OnBegin = "", OnSuccess = "ResponseEffectivenessMeasurement", OnFailure = "" },
         new { @class = "icon-thumbs-up i-chat-rate" })
        @Ajax.ActionLink(" ", "SetEffectivenessMeasurement",
            new { pUserID = ViewData["UserID"], pFunctionalityID = Model.Functionality.FirstOrDefault().FunctionalityID, pLike = false },
            new AjaxOptions { HttpMethod = "POST", OnBegin = "", OnSuccess = "ResponseEffectivenessMeasurement", OnFailure = "", },
            new { @class = "icon-thumbs-down i-chat-rate" })
    </div>
    <div id="cm-msg" class="chat-msg bot cm-msg" style="display: block;">
        <div class="cm-msg-text">
            <p>Tiene alguna otra consulta?</p>
            <ul class="chatbox-options">
                <li class="li-option-rep" data-value="1">SI</li>
                <li class="li-option-rep-no" data-value="0">NO</li>
            </ul>
        </div>
    </div>
    <div class='chat-msg bot cmc-msg' style='display: none;'></div>
}
else
{
    <div id="cm-msg-bot-msgBot" class="chat-msg bot a" style="display: block;">
        <div class="cm-msg-text">
            @Model.MessageResponse
            <ul class="chatbox-options">
                @foreach (Models.mCategoty item in ViewBag.Categories)
                {
                    <li class="li-option" data-value="@item.CategoryID">@item.Name</li>
                }
            </ul>
        </div>
    </div>
}
