@model  Models.mResponseChat


@if (Model.TypeResponse)
{
    <div id="cm-msg"  class="chat-msg bot" style="display: block;">
        <div class="cm-msg-text">
            @Model.MessageResponse
            <ul class="chatbox-options">
                @foreach (var item in Model.Functionality)
                {
                    @*@Html.ActionLink(item.Description, item.URL, new { @target = "_blank" })*@
                    <li><a target="_blank" href="@item.URL"> @item.Description</a></li>
                }
            </ul>
        </div>
    </div>
    <div class='chat-rate'>
        Te resultó útil esta respuesta?
        @Ajax.ActionLink(" ", "SetEffectivenessMeasurement",
         new { pUserID = ViewData["UserID"], pFunctionalityID = Model.Functionality.FirstOrDefault().FunctionalityID, pLike = true },
         new AjaxOptions { HttpMethod = "POST", OnBegin = "", OnSuccess = "ResponseEffectivenessMeasurement", OnFailure = "" },
         new { @class = "icon-thumbs-up i-chat-rate" })
        @Ajax.ActionLink(" ", "SetEffectivenessMeasurement",
            new { pUserID = ViewData["UserID"], pFunctionalityID = Model.Functionality.FirstOrDefault().FunctionalityID, pLike = false },
            new AjaxOptions { HttpMethod = "POST", OnBegin = "", OnSuccess = "ResponseEffectivenessMeasurement", OnFailure = "", },
            new { @class = "icon-thumbs-down i-chat-rate" })
    </div>
    <div id="cm-msg" class="chat-msg bot" style="display: block;">
        <div class="cm-msg-text">
            <ul class="chatbox-options">
                @foreach (Models.mCategoty item in ViewBag.Categories)
                {
                    <li data-value="@item.CategoryID">@item.Name</li>
                }
            </ul>
        </div>
    </div>

}
else
{
    <div id="cm-msg" class="chat-msg bot" style="display: block;">
        <div class="cm-msg-text">
            @Model.MessageResponse
            <ul class="chatbox-options">
                @foreach (Models.mCategoty item in ViewBag.Categories)
                {
                    <li data-value="@item.CategoryID">@item.Name</li>
                }
            </ul>
        </div>
    </div>
}

